.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #64748b;
  color: #ffffff;
  padding: 10px;
}
.icons {
  width: 10%;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding: 0;
  list-style-type: none;
}
.home-link {
  color: #ffffff;
}

.website-img {
  color: #4f46e5;
  height: 10px;
}
.unorder-list {
  list-style-type: none;
}
